<p>Cadastrar Jornada</p>

  <label for="data">Data:</label>
  <input type="date" id="data" name="data" [(ngModel)]="ponto" required>

  <br><br>

  <label>Funcionario</label>
  <select [(ngModel)]="funcionarioId">
    <option *ngFor="let f of funcionarios" value="{{ f.funcionarioId }}">
      {{f.nome}}
    </option>
  </select>

  <br><br>

  <button (click)="Cadastrar()">Cadastrar</button>


  -- Tela Facastro de Funcionario - OK
  -- Tela de Registro de Jornada
  -- Tela de Gerar  PDF de Jornada(Gerente)
  -- Tela de Assinar Jornada()


  João
  dia 10:25 ate 11:30 
  dia 10:25 ate 11:30
  dia 10:25 ate 11:30
  dia 10:25 ate 11:30
  dia 10:25 ate 11:30