<div class="form-container">
  <mat-card class="card-container">
    <mat-card-title class="titulo">Cadastrar Funcionário</mat-card-title>
    <mat-card-content>
      <mat-form-field class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput type="text" id="nome" name="nome" required [(ngModel)]="nome">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>CPF</mat-label>
        <input matInput type="text" id="cpf" name="cpf" required [(ngModel)]="cpf">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Cargo</mat-label>
        <mat-select [(ngModel)]="cargo" name="cargo">
          <mat-option value="0">Funcionário</mat-option>
          <mat-option value="1">Gerente</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions class="button-container">
      <button mat-raised-button color="primary" (click)="Cadastrar()">Cadastrar</button>
    </mat-card-actions>
  </mat-card>
</div>