
<div class="signup-container">
    <h2>Cadastro no Portal do Colaborador</h2>

    <form (ngSubmit)="CadastrarUsuario()" class="signup-form">
        <div class="form-group">
            <label for="cpf">CPF</label>
            <input type="text" id="cpf" name="cpf" [(ngModel)]="cpf" required>
        </div>

        <div class="form-group">
            <label for="usuario">Usuário</label>
            <input type="text" id="usuario" name="usuario" [(ngModel)]="user" required>
        </div>
        
        <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" [(ngModel)]="senha" required>
        </div>
        
        <button type="submit">Cadastrar</button>
    </form>
</div>
